<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Biblo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/views/resources/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="nav">
        <div class="logo"><img src="/views/resources/img/bibleo-svg.png" alt="Bibleo Logo" height="100%"></div>
        <div class="legend">
            <ul>
                <li><a href="/views">Home</a></li>
                <li><a href="/views/#about">About</a></li>
                <li><a href="/views/#overview">Overview</a></li>
                <li class="hero"><a href="/login">Sign In</a></li>
            </ul>
        </div>
    </nav>
    <section>
        <div class="container">
            <div class="text-box">
                <span>“Wherever I am, if I've got that book with me, I've got a place I can go and be happy.”</span><br><br>
                <div class="auth">~ J.K. Rowling</div>
            </div>
            <div class="buttons">
                <ul>

                    <a href="/overview">
                        <li>Take a tour</li>
                    </a>

                    <a href="/register">
                        <li class="hero">Get Started</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="container right"></div>
    </section>

    <section id="about">
        <div class="container">
            <img src="/views/resources/img/shelf2.png" height="80%" alt="">
        </div>
        <div class="container about">
            <h2>ABOUT</h2>
            <div class="about-text">
                <span>Bibleo</span> is an online room for reading. Featuring an online book shelf to store and showcase your e-books, Bibleo offers a pleasant and serene environment for you to read books. In the upcoming versions, this web room will provide
                you with features like sticky notes, flash cards, pomodoro focus timer and your own magic wand to set reminders and TODOs!
            </div>
        </div>
    </section>

    <section id="overview">
        <h2>Overview</h2>
        <div class="card">
            <h4>Upload new books on the bookshelf</h4>

            <img src="/views/resources/img/upload.svg" height="50%" alt=""> The bookshelf of Bibleo will be your most friendly companion here but it has to be safe from being host to copyright content too :/<br> This is why you will have to upload links
            to your e-books uploaded to some cloud like Google Drive / Drop Box or any other site which has the e-book. Just head click on the 'Add' button visible in the bookshelf page and Bibleo will ask you for all necessary details about the book
            to be able to add it to the library. Register now and fill your bookshelf!
        </div>
        <div class="card"><img src="/views/resources/img/pick.svg" height="50%" alt=""></div>
        <div class="card"><img src="/views/resources/img/book.svg" height="50%" alt=""></div>
        <div class="card"><img src="/views/resources/img/tour.svg" height="50%" alt=""></div>
        <div class="card"><img src="/views/resources/img/notes.svg" height="50%" alt=""></div>
        <div class="card"><img src="/views/resources/img/book2.svg" height="50%" alt=""></div>

    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/views/resources/script.js"></script>
</body>

</html>